In [ ]:
%load_ext sql
from sqlalchemy import create_engine
import os

password = os.environ.get("POSTGRESQL_PWD")
%sql postgresql://postgres:{password}@localhost:5432/nba

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(psycopg2.OperationalError) connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "postgres"

(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Top 5 rows

In [4]:
%%sql

SELECT * FROM games
LIMIT 5

 * postgresql://postgres:***@localhost:5432/nba
5 rows affected.

[(datetime.datetime(2021, 10, 19, 7, 30), 'Brooklyn Nets', 104, 'Milwaukee Bucks', 127, 0, 17341, 'Fiserv Forum', '/boxscores/202110190MIL.html'),
 (datetime.datetime(2021, 10, 19, 10, 0), 'Golden State Warriors', 121, 'Los Angeles Lakers', 114, 0, 18997, 'Crypto.com Arena', '/boxscores/202110190LAL.html'),
 (datetime.datetime(2021, 10, 20, 7, 0), 'Indiana Pacers', 122, 'Charlotte Hornets', 123, 0, 15521, 'Spectrum Center', '/boxscores/202110200CHO.html'),
 (datetime.datetime(2021, 10, 20, 7, 0), 'Chicago Bulls', 94, 'Detroit Pistons', 88, 0, 20088, 'Little Caesars Arena', '/boxscores/202110200DET.html'),
 (datetime.datetime(2021, 10, 20, 7, 30), 'Boston Celtics', 134, 'New York Knicks', 138, 2, 19812, 'Madison Square Garden (IV)', '/boxscores/202110200NYK.html')]

## Questions

### What is the most common score for a team playing at home this NBA season?

In [ ]:
%%sql
SELECT home_pts, count(*)
FROM games
GROUP BY home_pts
ORDER BY count DESC
LIMIT 5;

### What are the most common game scores?

In [ ]:
%%sql
SELECT home_pts, away_pts, count(*)
FROM games
GROUP BY (home_pts, away_pts)
ORDER BY count DESC
LIMIT 5;

### The games that ended 109-115 where:

In [ ]:
%%sql
SELECT home_team, home_pts, away_pts, away_team, date
FROM games
WHERE home_pts=109 AND away_pts=115;

### Play-in

Playoffs started on Apr 12. Play-in tournament took place to determine 7th and 8th seeds in each conference. Play-in games consists of 6 games between teams that ended the regular season between 7th and 10th seeds. These teams where:

- Brooklyn Nets (7, East)
- Cleveland Cavaliers (8, East)
- Atlanta Hawks (9, East)
- Charlotte Hornets (10, East)
- Minnesota Timberwolves (7, West)
- Los Angeles Clippers (8, West)
- New Orleans Pelicans (9, West)
- San Antonio Spurs (10, West)

7th and 8th seeds must win a game in play-in tournament to qualify for playoffs. 9th and 10th seeds must win both of their games to advance to the Playoffs. The results of play-in games where:

In [ ]:

%%sql
SELECT home_team, home_pts, away_pts, away_team, date
FROM games
WHERE date > timestamp '2022-04-11 00:00:00'
LIMIT 6;


Both 7th-seed teams won their first game, advancing to the NBA Playoffs. The same occured for both 9th-seed teams, sending home 10th-seed teams Charlotte Hornets and San Antonio Spurs. In their second play-in games, 9th-seed teams Atlanta Hawks and New Orleans Pelicans defeated 8th-seed teams Cleveland Cavaliers and Los Angeles Clippers respectively, which meant they qualified for the Playoffs.

### Which where the biggest blowouts during the Playoffs?

In [ ]:
%%sql
SELECT home_pts - away_pts AS difference, home_team, home_pts, away_pts, away_team, date
FROM games
WHERE date > timestamp '2022-04-11 00:00:00'
ORDER BY ABS(home_pts - away_pts) DESC
LIMIT 5;


### Which teams score the most points?

In [ ]:
%%sql
SELECT *
FROM (SELECT home_team, ROUND(AVG(home_pts),2) AS avg_home_pts
      FROM games
      WHERE date > timestamp '2022-04-11 00:00:00'
      GROUP BY home_team)
      AS AVG_HOME_PTS
ORDER BY avg_home_pts DESC
LIMIT 5;